annotated-types
anyio
beautifulsoup4
cachetools
certifi
charset-normalizer
click
colorama
cssselect
distro
fastapi
feedfinder2
feedparser
filelock
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
groq
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
idna
jieba3k
joblib
lxml
lxml_html_clean
nest-asyncio
newsapi
newsapi-python
newspaper3k
nltk
pillow
proto-plus
protobuf
pyasn1
pyasn1_modules
pydantic
pydantic_core
pyparsing
python-dateutil
python-dotenv
PyYAML
regex
requests
requests-file
rsa
sgmllib3k
six
sniffio
soupsieve
starlette
tinysegmenter
tldextract
tqdm
typing_extensions
uritemplate
urllib3
uvicorn
websockets
